@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --text-color: #000000;
        --body-background: #F8F8F8;
        --text-secondary-color: #666666;
        --primary-color: #080808;
        --secondary-color: #292929;
        --price-color: #155BF6;
        --subheader-background: #e5677d;
        --subheader-color: #f9f9f6;
        --header-category-bg: #a50a06;
        --header-category-color: #fff3f4;
        --label-background: #DF0000;
        --label-color: #ffffff;
        --footer-bg: #81AACC;
        --footer-color: #ffffff;
        --show-loadmore: none!important;
        --order-loadmore: -1!important;
        --sale-pop-color: #d82e4d;
        --addtocart-bg: #155BF6;
        --addtocart-text-color: #ffffff;
        --cta-color: #000000;
        --section-coupon-bg: #155BF6;
        --coupon-title-color: #155BF6;
        --coupon-button-color: #155BF6;
        --col-menu: 4;
        --border-color: #f1f1f1;
        --link-color: #2F80ED;
        --coupon-code-background: #fff;
        --coupon-lite-border: #155BF6;
        --product-promotion-bg: #f33828;
        --policies-bg: #ffffff;
        --policies-color: #050000;
        --product-promotion-color: #155BF6;

        --swiper-navigation-size: 15px !important;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.5rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .close {
        float: right;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: .5;
    }

    .btn {
        padding: 10px 20px;
        border: 1px solid transparent;
        font-size: 1rem;
        line-height: 1.5;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .btn-main {
        border-color: var(--primary-color);
        color: var(--primary-color);
        border-radius: 5px;
    }

    .btn-icon {
        display: inline-flex;
        align-items: center;
        gap: 5px;
    }

    .btn-login {
        background: var(--primary-color);
        color: #fff;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1
    }

    .btn-main:hover {
        color: #fff;
        background: var(--primary-color);
    }

    .btn:hover {
        text-decoration: none;
    }

    .icon {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
    }

    a.link {
        text-decoration: none;
        color: var(--text-color);
        cursor: pointer;
    }

    a:hover {
        color: var(--link-color);
    }

    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .heading-bar {
        font-size: 18px;
        background: #fff;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    body {
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }

    section {
        margin-bottom: 30px;
        display: block;
    }

    @media screen and (max-width: 1600px) {
        .heading-bar {
            font-size: 16px;
        }
        
    }

    @media screen and (min-width: 1200px) {
        .container {
            max-width: 1230px;
        }
        
    }

    @media screen and (min-width: 992px) {
        .container {
            max-width: 100%;
        }
    
    }
    
    @media screen and (min-width: 768px) {
        .container {
            max-width: 100%;
        }
        
    }

    @media screen and (min-width: 576px) {
        .container {
            max-width: 100%;
        }
        
    }
}